
header
{
    background-color: coral;
}

main
{
    background-color: cadetblue;
    /* font-family: 'Khula', sans-serif; */
}

footer
{
    background-color: blueviolet;
}

.conteinerGeralFPOO
{
    background-color:cyan;
}
.conteinerGeralSOP
{
    background-color:deeppink;
}
.conteinerGeralHARE
{
    background-color:gold;
}
.conteinerGeralLIMA
{
    background-color:darkgreen;
}

